.loading-gif{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.7);
  z-index: 99;
  left: 0;
  padding: 0px;
  top: 0;
}

.loading-gif img{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 30%;
  left: 0;
  right:0;
  margin: auto;
}

.wait-text{
  color: white;
  position: fixed;
  top:25%;
  left: 0;
  right: 0;
  margin:auto;
  font-size: 20px;
}